@media (min-width: 760px) {
  .container {
  background: "red";
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex: 1;
  overflow: hidden;
}

.footer {
  background: tan;
  height: 50px;
}
}
@media (max-width: 760px) {

.content {
  padding: 10px;
}
}
