:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-light: #b5c0c2;
  --foreground-light: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground-light: #b5c0c2;
    --background-light: #333333;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100dvh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
